<ion-view title="เกี่ยวกับแอพพลิเคชั่นหนึ่งคณะหนึ่งโมเดล" style="background-color: #823294">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="">

        <div class="list card">

            <div class="item item-body">
                <img class="" style="box-shadow: none; margin-left:auto;margin-right:auto;" src="img/icon.png">
                <h2>แอพพลิเคชั่นโครงการหนึ่งคณะหนึ่งโมเดล</h2>

                <div>เป็นแอพพลิเคชั่นที่รวบรวมโครงการหรืองานวิจัยเชิงพื้นที่
                    ของมหาวิทยาลัยพะเยาที่ดำเนินโครงการโดยคณะหรือวิทยาลัยภายใต้มหาวิทยาลัยพะเยา เพื่อสืบสานปณิธาน
                    ปัญญาเพื่อความเข้มแข็งของชุมชน

                </div>
            </div>

        </div>

    </ion-content>

</ion-view>
