<ion-view hide-nav-bar="true" style="background-color: #823294">

    <ion-header-bar style="height: auto; width:inherit; border:none;line-height: 0px;padding: 0px;">

        <a ui-sref="about" style="height:inherit; width:inherit;">
            <img style="width:100%;" src="img/welcomePage/welcomePage_TH_V03_01.jpg"/>

        </a>
    </ion-header-bar>

    <ion-content class="" style="line-height:0px;top:0;">
        <img style="width:100%;" src="img/welcomePage/tp.png"/>
        
        <a class="" ui-sref="about">
            <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V03_02.jpg">
        </a>
        <a class="" ui-sref="news">
          <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V03_03.jpg">
        </a>
        <a class="" ui-sref="projects">
          <img style="width: 100%; height:auto;" src="img/welcomePage/welcomePage_TH_V03_04.jpg">
        </a>
        <a class="" ui-sref="tab.map">
          <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V03_05.jpg">
        </a>
        <a class="" ui-sref="tab.contact">
          <img style="width: 100%; height: auto;" src="img/welcomePage/welcomePage_TH_V03_07.jpg">
        </a>


    </ion-content>
</ion-view>
