<ion-view title="หนึ่งคณะหนึ่งโมเดล">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button button-clear button-icon" ng-click="vm.searchModal()">
                <i class="ion-search"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="row">
            <button ng-click="vm.openSelectFacultyModal()"
                    class="button button-block button-light  icon-right ion-android-arrow-dropdown"
                    style="text-align: left">
                <span ng-if="!currentFaculty">ทุกคณะ</span>
                <span ng-if="currentFaculty">{{currentFaculty.name_th}}</span>
            </button>
        </div>
        <ion-row>
            <ion-list>
                <a ng-repeat="project in vm.projects" class="item item-thumbnail item-thumbnail-left"
                   nav-direction="back" ng-click="vm.showProject(project)">
                    <img ng-src="{{API_BASE_URL +'/project/'+project.id+'/cover/'+ project.cover_file}}?w=100&h=100&fit=crop"
                         width="100"
                         height="100"/>
                    <h2 style="white-space: normal">{{project.name_th}}</h2>
                    <p>{{project.faculty.name_th}}</p>
                </a>
            </ion-list>
        </ion-row>
    </ion-content>
</ion-view>


<script id="search-modal.html" type="text/ng-template">
    <ion-modal-view title="ค้นหา">

        <ion-header-bar class="bar-royal">
            <button class="button button-clear button-icon" ng-click="vm.closeSearchModal()">
                <i class="ion-close"></i>
            </button>

            <h1 class="title">ค้นหาโครงการ</h1>
        </ion-header-bar>

        <ion-content>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">คำค้น</span>
                    <input ng-model="vm.keyword" type="text" placeholder="Keyword">
                </label>

                <button class="button button-block ink" ng-click="vm.search()">
                    ค้นหา
                </button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>