<ion-view title="เกี่ยวกับแอพพลิเคชั่นหนึ่งคณะหนึ่งโมเดล" style="background-color: #823294">
    <ion-nav-bar class="bar-royal">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="">

        <div class="list card">

            <div class="item item-body">
                <div id="map"></div>
            </div>

        </div>

        <div ng-if="vm.mapResponse" class="list card">

            <div class="item">
                <h2>{{vm.mapResponse.amphur.AMPHUR_NAME}}</h2>
                <p>จำนวนโครงการรวม : {{vm.currentAmphur.value}} โครงการ</p>
            </div>

        </div>

        <ion-list ng-if="vm.mapResponse && vm.mapResponse.projects.length > 0"  class="card">
            <a ng-repeat="project in vm.mapResponse.projects" class="item item-thumbnail item-thumbnail-left"
               nav-direction="back" ng-click="vm.showProject(project)">
                <img ng-src="{{API_BASE_URL +'/project/'+project.id+'/cover/'+ project.cover_file}}?w=100&h=100&fit=crop"
                     width="100"
                     height="100"/>
                <h2 style="white-space: normal">{{project.name_th}}</h2>
                <p>{{project.faculty.name_th}}</p>
            </a>
        </ion-list>

    </ion-content>

</ion-view>
