<ion-header-bar class="bar-royal">
    <div class="buttons" class="left">
        <button nav-direction="back" class="button button-icon button-clear ion-android-arrow-back"
                ui-sref="app.success.list"></button>
    </div>


    <h1 class="title">ค้นหา</h1>
</ion-header-bar>

<ion-content>
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
            <input ng-model="vm.keyword" type="text" placeholder="ค้นหา">
        </label>
        <button ng-click="vm.search()" class="button button-small button-positive icon">
            <i class="ion-search"></i>
        </button>
    </div>

    <ion-list>
        <a ng-repeat="project in vm.projects" class="item item-thumbnail item-thumbnail-left"
           nav-direction="back" ng-click="vm.showProject(project)">
            <img ng-src="{{API_BASE_URL +'/project/'+project.id+'/cover/'+ project.cover_file}}?w=100&h=100&fit=crop"
                 width="100"
                 height="100"/>
            <h2 style="white-space: normal">{{project.name_th}}</h2>
            <p>{{project.faculty.name_th}}</p>
        </a>
    </ion-list>
</ion-content>