<ion-view title="ติดต่อเรา">
    <ion-content>

        <div class="list card">
            <div class="item item-stable">
                <h2>ABCreative Center</h2>
            </div>
            <div class="item item-body">
                <img class="" style="box-shadow: none;" src="img/logoUp.png" width="50" height="70">
                <h2>ศูนย์เครือข่ายความร่วมมือเพื่อการพัฒนาเชิงพื้นที่แบบสร้างสรรค์</h2>

                <div><h2>มหาวิทยลัยพะเยา</h2></div>
                <div>19 หมู่ 2 ตำบลแม่กา อำเภอเมือง</div>
                <div>จังหวัดพะเยา 56000</div>
                <div>Tel. 054-466-666 ต่อ Fax. 054-466-690</div>
                </br>
            </div>

        </div>

    </ion-content>
</ion-view>