<ion-view title="หนึ่งคณะหนึ่งโมเดล">
    <ion-content>
        <div class="row">
            <button ng-click="listCtrl.openSelectFacultyModal()" class="button button-block button-light  icon-right ion-android-arrow-dropdown" style="text-align: left">
                <span ng-if="!currentFaculty">ทุกคณะ</span>
                <span ng-if="currentFaculty">{{currentFaculty.name_th}}</span>
            </button>
        </div>
        <ion-row>
            <ion-list>
                <a ng-repeat="project in listCtrl.projects" class="item item-thumbnail item-thumbnail-left" nav-direction="back" ng-click="listCtrl.showProject(project)" >
                    <img ng-src="{{API_BASE_URL +'/project/'+project.id+'/cover/'+ project.cover_file}}?w=100&h=100&fit=crop" width="100"
                         height="100"/>
                    <h2>{{project.name_th}}</h2>
                    <p>{{project.faculty.name_th}}</p>
                </a>
            </ion-list>
        </ion-row>
        </div>
    </ion-content>
</ion-view>